{% extends 'page.html' %}
{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <p>
          There are different hashtags that this app listens from Mowgli. To
          add a new hashatag to listen to, make changes in mowglibot and add
          a section here.
        </p>
        <div class="row">
	  <h2>Organisation wide hashtags</h2>
          <div class="large-3 medium-3 columns">
            <p><a href="{{ url_for('entry_show', name='success') }}">#success</a><br />Sharing the successes across the organization!</p>
        </div>
        <div class="large-3 medium-3 columns">
          <p><a href="{{ url_for('entry_show', name='lessonslearnt') }}">#LesssonsLearnt</a><br />Collective lessons learned from our unique experiences</p>
        </div>
        <div class="large-3 medium-3 columns">
          <p><a href="{{ url_for('entry_show', name='nowreading') }}">#NowReading</a><br />Share the interesting articles and books your come across!</p>
        </div>
        <div class="large-3 medium-3 columns">
          <p><a href="{{ url_for('entry_show', name='nowlistening') }}">#NowListening</a><br />We love diverse &#9834; music and let's share it all! &#9835; </p>
        </div>
      </div>
	<div class="row">
	  <h2>Technical team hashtags</h2>
	  <div class="large-3 medium-3 columns">
            <p><a href="{{ url_for('entry_show', name='presales') }}">#presales</a><br />Presales request made to the technical team</p>
	  </div>
	</div>
    </div>
  </div>
{% endblock %}
